.menu-horizontal li a{
    text-transform: capitalize !important;
}
.choose-language{
    position: relative;
}
.choose-language a{
    text-transform: capitalize
}
.choose-language a::after{
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: .255em;*/
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.language-options{
    position: absolute;
    font-size: 14px;
    /*background-color: white;*/
    display: none;

    /*border: 1px solid #e4e7ed;*/
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.language-options ul li{
    cursor: pointer;
    width: 100%;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
}
.language-options ul li:hover{
    background-color: #252525;
    color: snow;
}
.language-options ul li span{

}