<footer class="space--xs footer-1">
    <div class=".container-fluid">
        <div class="row">
            <div class="footer_box">
                <img src="../images/whormhole_logo.png" alt="logo">
                <div class="foot_content">
                    <a href="https://twitter.com/WormholeCash" target="_blank">
                        <i class="socicon socicon-twitter icon icon--xs"></i>
                        Twitter
                    </a>
                    <a class="hidden-sm hidden-xs" href="https://medium.com/@wormholecash" target="_blank">
                        <i class="socicon socicon-medium icon icon--xs"></i>
                        Medium
                    </a>
                    <a class="visible-sm visible-xs" href="https://medium.com/@wormholecash" target="_blank">
                        <i class="socicon socicon-medium icon icon--xs"></i>
                        Medium
                    </a>
                    <a href="https://github.com/copernet" target="_blank">
                        <i class="socicon socicon-github icon icon--xs"></i>
                        Github
                    </a>
                </div>
                <div class="foot_footer">
                    © 2018 wormhole.cash
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>