<section class="text-center site-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img alt="Bitcoin Cash" src="images/logo_wormhole_dark.png">
                <p class="lead" style="margin-top: 15px;" data-item="lead">
                    <%= __('lead') %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ticker">
            </div>
        </div>
    </div>
</section>